In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

/var/folders/t_/t17z84q161x8dcgl_1nslzxr0000gn/T/ipykernel_16700/2660915427.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
#read data
Data  = pd.read_csv('/Users/shenglienlee/Desktop/RIT_Competition/Data/Raw/R2_final_hotels.csv')
Data

,ArrivalDate,ArrivalWeekNumber,AssignedRoom,AverageDailyRate,BookingChanges,BookingCompany,BookingDistributionChannel,BookingMeal,BookingParking,Country,...,PreviousBookingsNotCanceled,PreviousCancellations,RepeatedGuest,ReservationStatus,ReservationStatusDate,ReservedRoom,StaysInWeekendNights,StaysInWeekNights,TotalOfSpecialRequests,TravelAgent
0,8/14/17,33,A,78.49,0,NaN,TA/TO,SC,0.0,BRA,...,0,0,0,Check-Out,8/21/17,A,2,4,2,9.0
1,4/24/17,17,A,113.86,0,NaN,TA/TO,BB,0.0,AUT,...,0,0,0,Check-Out,4/27/17,A,2,2,0,21.0
2,8/25/15,35,A,94.51,0,NaN,TA/TO,HB,0.0,ITA,...,0,0,0,Canceled,7/9/15,A,2,1,0,17.0
3,8/15/17,33,D,124.99,0,NaN,TA/TO,BB,0.0,CHE,...,0,0,0,Canceled,5/2/17,D,1,3,1,9.0
4,10/12/16,41,A,129.25,0,NaN,TA/TO,BB,0.0,PRT,...,0,0,0,Check-Out,10/16/16,A,0,2,2,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94359,9/18/17,38,F,190.87,1,NaN,Direct,BB,0.0,PRT,...,0,0,0,Check-Out,9/20/17,D,1,2,1,14.0
94360,9/24/17,38,A,171.88,0,NaN,TA/TO,BB,0.0,PRT,...,0,1,0,Canceled,7/23/17,A,2,1,0,1.0
94361,11/28/17,48,A,88.68,0,NaN,TA/TO,SC,0.0,NLD,...,0,0,0,Check-Out,12/29/17,A,2,2,0,9.0
94362,11/3/17,44,A,72.41,1,NaN,TA/TO,SC,0.0,AUS,...,0,0,0,Check-Out,11/5/17,A,0,1,2,8.0
94363,9/19/17,38,A,101.03,0,NaN,TA/TO,BB,0.0,PRT,...,0,0,0,Check-Out,9/20/17,A,1,2,2,9.0

# Explore Data Analysis

In [3]:
#Data.columns
Data.dtypes

ArrivalDate                     object
ArrivalWeekNumber                int64
AssignedRoom                    object
AverageDailyRate               float64
BookingChanges                   int64
BookingCompany                 float64
BookingDistributionChannel      object
BookingMeal                     object
BookingParking                 float64
Country                         object
CustomerType                    object
DaysInWaitingList                int64
DepositType                     object
LeadTime                         int64
MarketSegment                   object
NumberOfAdult                    int64
NumberOfBabies                   int64
NumberOfChildren               float64
PreviousBookingsNotCanceled      int64
PreviousCancellations            int64
RepeatedGuest                    int64
ReservationStatus               object
ReservationStatusDate           object
ReservedRoom                    object
StaysInWeekendNights             int64
StaysInWeekNights                int64
TotalOfSpecialRequests           int64
TravelAgent                    float64
dtype: object

In [4]:
#correlation between upgraded and days stay in hotel
Data.isnull().sum()

ArrivalDate                        0
ArrivalWeekNumber                  0
AssignedRoom                       7
AverageDailyRate                   0
BookingChanges                     0
BookingCompany                 89634
BookingDistributionChannel         5
BookingMeal                        0
BookingParking                    12
Country                          243
CustomerType                       0
DaysInWaitingList                  0
DepositType                        3
LeadTime                           0
MarketSegment                      0
NumberOfAdult                      0
NumberOfBabies                     0
NumberOfChildren                   4
PreviousBookingsNotCanceled        0
PreviousCancellations              0
RepeatedGuest                      0
ReservationStatus                  0
ReservationStatusDate              0
ReservedRoom                       2
StaysInWeekendNights               0
StaysInWeekNights                  0
TotalOfSpecialRequests             0
TravelAgent                    10721
dtype: int64

In [6]:
type(Data['ArrivalDate'][0])

str